@import "assets/styles/global"

.features {
    margin-top: -10rem
    height: 95vh;
    background: top / cover no-repeat linear-gradient(to right bottom, #7ed56fcc, #28b485cc), url("assets/img/nat-4.jpg") ;
    transform: skewY(-5.25deg)

    & > * {
        transform: skewY(5.25deg)
    }
}

.c {
    width: 114rem
    margin: 0 auto
    display flex
    justify-content: space-between
    gap: 4rem
    align-items: center
    height 100%
}

.card {
    background-color: rgba(white, .8)
    padding: 2.5rem
    text-align: center
    font-size: 1.4rem
    border-radius: 4px
    box-shadow: 0 1.5rem 4rem rgba(black, .15)
    flex: 1

    transition: transform .22s

    &:hover {
        transform: translateY(1.1rem) scale(1.3)
    }
}