color_primary = #55c57a
color_primary_light = #7ed56f
color_primary_dark = #28b485

color_secondary_light = #ffb900
color_secondary_dark = #ff7730

color_tertiary_light = #2998ff
color_tertiary_dark = #5643fa


color_gray_dark = #777
color_gray_light = #f7f7f7

text_size = 1.6rem
